
//灰度定义
$btn-gray: #75808f;
$drk-gray: #425563;
$med-gray: #98A4AE;
$lgt-gray: #C5CFDA;
$really-lgt-gray: #F2F3F4;
$icon-gray: #75808F;
$black: #000;
$white: #fff;
$grid-border:#DDDDDD;
$off-white: #F7F7F8;
$blue-black:#2f4050;
$double-lgt-gray: #F3F3F4;
$orange:#f76549;

$font-black:#333;

$link-blue:#337ab7;
$white-gray:#d2d2d2;
$black-ash3:rgba(51,51,51,0.3);
$black-ash4:rgba(51,51,51,0.4);
$transparent:transparent;
$black-transparent:rgba(0,0,0,.3);
$black-gray-border:rgba(0,0,0,0.08);

