@import "./colors.scss";

.rescroll-bar{
  position: fixed;
  top:40px;
  left: 242px;
  width: 8px;
  height: 100%;
  background: $black-gray-border;
  display: none;
}
.rescroll-bar-handle{
  width: 8px;
  min-height:15px;
  max-height:100%;
  background:$black-ash4;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}